body{
    text-align:center;
    background-color:#dcfff3;
}
button{
    background-color:#ebfcf6;
    border:#93b693 1px solid;
}
button:active{
    background-color:#dcfff3;
    border:#93b693 1px solid;
}
.calc{
    height:4%;
    padding:2%;
    margin:0;
    text-align:center;
}
#clear{
    height:20px;
    width:80px;
}
div{
    background-color:#93b693;
    width:50%;
    margin:auto;
}
.topHalf{
    padding-top:3%;
}
.bottomHalf{
    padding-bottom:3%;
}